// Include responsive Bootstrap styles
@import "slate-variables";
@import "bootstrap";
@import "bootstrap-responsive";
@import "mediaelementplayer";

@import "slate";

body {
  padding-top: 30px;
  padding-bottom: 40px;

  .sidebar-nav {
    padding: 18px 0;
  }
}

.container {
  #header-image {
    margin: 20px 0;
  }

  #pubdate {
    float: right;
  }

  #shownotes {
    margin-top: 10px;
  }
}
