// Include responsive Bootstrap styles
@import "slate-variables";
@import "bootstrap";
@import "bootstrap-responsive";

@import "slate";

body {
  padding-top: 30px;
  padding-bottom: 40px;

  .sidebar-nav {
    padding: 18px 0;
  }
}

.container {
  #header-image {
    margin: 20px 0;
    background-color: $gray;
  }

  .sidebar-nav {
    .nav-list {
      .nav-header {
        font-size: 100%;
        font-weight: 700;
      }
      li > a {
        font-weight: 400;
      }
    }
  }

  .adn-button {
    width: 230px;
  }

  #pubdate {
    float: right;
  }

  #shownotes {
    margin-top: 10px;
  }

  .FlattrButton {
    float: right;
  }

  .well {
    section {
      .FlattrButton {
        float: none;
      }
    }
  }

  .promo-code {
    margin: auto;
    width: 433px;
    margin-top: 20px;
    margin-bottom: 20px;
    .label {
      font-size: 46px;
      padding: 26px 8px;
      font-weight: 300;
    }
  }
}
