// Include responsive Bootstrap styles
@import "slate-variables";
@import "bootstrap";
@import "bootstrap-responsive";

@import "slate";

body {
  padding-bottom: 40px;

  .sidebar-nav {
    padding: 18px 0;
  }
}

.container {
  width: 960px;

  #subscribe-in-itunes {
    display: block;
    width: 350px;
    margin: 20px auto;
  }
}
