/*
Syntax error: Invalid CSS after "@black:": expected pseudoclass or pseudoelement, was "               ..."
        on line 12 of /Users/dbreuer/Documents/Work/GalaxyCats/projects/gst-website/sass/variables.scss

Backtrace:
/Users/dbreuer/Documents/Work/GalaxyCats/projects/gst-website/sass/variables.scss:12
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:1134:in `expected'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:1070:in `expected'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:1052:in `expr!'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:780:in `pseudo'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:658:in `simple_selector_sequence'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:626:in `_selector'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:605:in `selector'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:144:in `directive'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:539:in `block_child'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:529:in `block_contents'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/scss/parser.rb:27:in `parse'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/engine.rb:342:in `_to_tree'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/path.rb:31:in `create'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/state/directory.rb:26:in `block in created'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/state/directory.rb:25:in `each'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/state/directory.rb:25:in `created'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/state/directory.rb:17:in `refresh'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/bin/compass:19:in `load'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/bin/compass:19:in `<main>'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `eval'
/Users/dbreuer/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@black:\": expected pseudoclass or pseudoelement, was \"               ...\"\A         on line 12 of /Users/dbreuer/Documents/Work/GalaxyCats/projects/gst-website/sass/variables.scss"; }
